@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
*,
*:before,
*:after,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background: #fff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,
b {
  font-weight: 700;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
/* No-style lists*/
.clean-list,
.clean-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.inline-list li {
  display: inline-block;
}
.inline-list a {
  display: block;
}
/*= MIX */
.full-width {
  width: 100%;
}
.font-smaller {
  font-size: 0.5em !important;
}
.font-small {
  font-size: 0.875em !important;
}
.font-medium {
  font-size: 1.125em !important;
}
.font-big {
  font-size: 1.25em !important;
}
.font-bigger {
  font-size: 1.5em !important;
}
.upper {
  text-transform: uppercase;
}
.font-700 {
  font-weight: 700;
}
/*= LINKS */
a {
  color: #3e9dd1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
/* ===== == = === 81.25em (1300px) === = == ===== */
/* ===== == = === 68.75em (1200px) === = == ===== */
/* ===== == = === 68.75em (1100px) === = == ===== */
@media only screen and (max-width: 68.75em) {
  .filter-area .switcher,
  .filter-area .showperpage {
    float: none;
  }
}
/* ===== == = === 56.25em (900px) === = == ===== */
/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (max-width: 48em) {
  .hidden-m {
    display: none;
  }
}
/* ===== == = === 37.5em (667px) === = == ===== */
/* ===== == = === 37.5em (600px) === = == ===== */
/* ===== == = === 30em (480px) === = == ===== */
/* ===== == = === 20em (320px) === = == ===== */
/* = COLORI
------------------------------------------*/
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px;
  vertical-align: middle;
  text-transform: uppercase;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-my-yep {
  background: url(images/ico-my-yeppon.png) 95% center #959595 no-repeat;
  color: #ffffff;
  padding-right: 40px;
  position: relative;
}
.btn.btn-my-cart {
  background: url(images/ico-cart.png) 95% center #95c11f no-repeat;
  color: #ffffff;
  padding-right: 60px;
  position: relative;
}
.btn.btn-green {
  background: #95c11f;
  /* Old browsers */
  color: #ffffff;
  position: relative;
}
.btn.btn-blue {
  background: #3e9dd1;
  /* Old browsers */
  color: #ffffff;
  position: relative;
}
.btn.btn-green-01 {
  background: #8CB324;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8cb324 50%, #769c11 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #8cb324), color-stop(50%, #769c11));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8cb324 50%, #769c11 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8cb324 50%, #769c11 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8cb324 50%, #769c11 50%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8cb324 50%, #769c11 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CB324', endColorstr='#769c11', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
.btn.btn-green-01:hover {
  background: #95c11f;
}
.btn.btn-full {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
/* Close Button */
.close {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.875em;
  border: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
  display: none;
}
.close::before,
.close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #ffffff;
}
.close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* ICON */
.ico-lista:before {
  content: " ";
  background: url(images/ico-lista.png) no-repeat;
  background-position: 0 -17px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  margin-right: 5px;
}
.ico-grid:before {
  content: " ";
  background: url(images/ico-grid.png) no-repeat;
  background-position: 0 -17px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 17px;
  margin-right: 5px;
}
.ico-cart-small:before {
  content: " ";
  background: url(images/ico-cart-small.png) left top no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 25px;
  margin-right: 10px;
}
.ico-filtri:before {
  content: " ";
  background: url(images/ico-filtri.png) left top no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 25px;
  margin-right: 10px;
}
/* ANIMATION */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.swing:hover {
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul.dash li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
.top-cart-block,
.top-myyep-block {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}
.top-cart-block .btn,
.top-myyep-block .btn {
  height: 50px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.top-cart-block .btn span,
.top-myyep-block .btn span {
  vertical-align: middle;
}
.top-cart-block:hover .pop-cart,
.top-myyep-block:hover .pop-my-yep {
  display: block;
}
.hidden-sidebar {
  display: none;
}
/* Popup */
.pop {
  display: none;
}
.pop.pop-my-yep {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  width: 200px;
  text-align: left;
}
.pop.pop-my-yep .nav-my-yep {
  background: #959595;
  margin-top: 0.5em;
}
.pop.pop-my-yep .nav-my-yep li {
  border-top: 1px solid #ffffff;
}
.pop.pop-my-yep .nav-my-yep li:first-child {
  border-top: none;
}
.pop.pop-my-yep .nav-my-yep li a {
  display: block;
  color: #ffffff;
  padding: 1em ;
}
.pop.pop-my-yep .nav-my-yep li a:hover {
  color: #e6e6e6;
  background: #7c7c7c;
  text-decoration: none;
}
.pop.pop-my-yep .triangle {
  background: url(images/triangle-gray.png) no-repeat;
  width: 14px;
  height: 7px;
  position: absolute;
  left: 2em;
  top: 0;
}
.pop.pop-cart {
  position: absolute;
  right: 0;
  top: 100%;
  width: 315px;
  z-index: 20;
}
.pop.pop-cart .triangle {
  background: url(images/triangle-green.png) no-repeat;
  width: 14px;
  height: 7px;
  position: absolute;
  right: 2em;
  top: 0;
}
.pop.pop-cart .inner-wrap {
  padding: 1em 1.5em;
  background: #ffffff;
  border: 1px solid #95c11f;
  margin-top: 0.5em;
}
.pop.pop-cart .title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1em;
  text-align: left;
}
.pop.pop-cart .list-item {
  padding: 1em 0;
  border-top: 1px solid #e5e5e5;
}
.pop.pop-cart .list-item:first-child {
  border-top: 0;
}
.pop.pop-cart .thumb {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 0.5em;
  overflow: hidden;
}
.pop.pop-cart .description {
  margin-left: 70px;
  text-align: left;
}
.pop.pop-cart .prod-title {
  font-size: 0.875em;
  line-height: 1.5em;
  margin-bottom: 1em;
  text-align: left;
}
.pop.pop-cart .prod-title a {
  color: #000000;
}
.pop.pop-cart .prod-title a:hover {
  color: #959595;
}
.pop.pop-cart .prod-label {
  font-size: 0.875em;
  color: #959595;
  margin-right: 5px;
}
.pop.pop-cart .prod-qt {
  width: 40px;
  color: #000000;
  background: #f3f3f3;
  border: 1px solid #ccc;
  padding: 4px 5px;
  margin-right: 5px;
}
.pop.pop-cart .prod-qt:focus {
  border: 1px solid #3e9dd1;
  outline: none;
  background: #ffffff;
}
.pop.pop-cart .prod-price {
  font-weight: 700;
}
.pop.pop-cart .listing-total-count {
  background: #e5e5e5;
  margin: 1em -1.5em -1em -1.5em;
  padding: 1em 2em;
}
.pop.pop-cart .listing-total-count .label,
.pop.pop-cart .listing-total-count .total-price {
  font-size: 1.625em;
  text-transform: uppercase;
  font-weight: 700;
  color: #e30613;
  margin-bottom: 0.5em;
}
.searchform {
  position: relative;
  margin-top: 7px;
  padding-right: 30px;
}
.searchform .search-field {
  width: 100%;
  padding: 8px 10px;
  font-size: 0.875em;
  margin-right: 60px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  border: 2px solid #ccc;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.searchform .search-field:focus {
  border: 2px solid #3e9dd1;
  outline: none;
}
.searchform input[type="submit"] {
  background: url(images/ico-search.png) no-repeat center center;
  text-indent: -9999px;
  outline: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  margin-top: -32px;
}
.topper-bar {
  background: #95c11f;
  color: #010101;
  font-size: 0.875em;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}
.topper-bar li {
  margin-right: 15px;
}
.topper-bar a {
  color: #010101;
  padding: 1em 0.5em;
  text-decoration: none;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}
.topper-bar a:hover {
  text-decoration: underline;
}
.navigation-bar {
  background: #e5e5e5;
}
.navigation-bar li {
  float: left;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ccc;
}
.navigation-bar a {
  display: block;
  font-size: 0.813em;
  color: #4d4d4d;
  padding: 1em 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-bar a:hover,
.navigation-bar a.active {
  background: #95c11f;
  color: #ffffff;
}
.navigation-bar ul li:first-child {
  border-left: none;
}
.navigation-bar ul li:last-child {
  border-right: none;
}
.navigation-bar .nav-title {
  display: none;
}
#bread-area {
  position: relative;
  padding-top: 0.5em;
}
.filter-nav {
  float: right;
  width: 30%;
  position: relative;
}
.filter-nav .item-filterby {
  display: none;
}
.filter-nav .item-brandnav {
  position: absolute;
  right: 0;
  z-index: 0;
}
.filter-nav .item-orderby {
  display: none;
}
#breadcrumbs {
  float: left;
  width: 70%;
  padding: 1em 0 0.5em 0;
  font-size: 0.75em;
}
#breadcrumbs li:before {
  padding: 0 2px;
  content: "|";
}
#breadcrumbs li:first-child {
  padding-left: 0;
}
#breadcrumbs li:first-child:before {
  content: "";
}
#breadcrumbs a {
  display: block;
  text-decoration: none;
  color: #4d4d4d;
}
#breadcrumbs a:hover {
  color: #95c11f;
}
.sidebox {
  margin-bottom: 1em;
}
.sidebox .title {
  min-height: 40px;
  padding: 0.65em 2em 0.65em 0.65em;
  background: #3e9dd1;
  color: #ffffff;
  font-size: 1.125em;
  line-height: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}
.sidebox .sidebox-content {
  border: 1px solid #e5e5e5;
}
.sidebox .subfilter {
  padding: 1em;
  border-top: 1px dotted #e5e5e5;
}
.sidebox .subfilter:first-child {
  border-top: 0;
}
.sidebox .subfilter ul li {
  padding-left: 1em;
  margin-bottom: 0.5em;
  background: url(images/triangle-bullet.png) left 2px no-repeat;
}
.sidebox .subfilter ul li a {
  text-decoration: none;
  font-size: 0.875em;
}
.sidebox .subfilter ul li a:hover {
  text-decoration: underline;
}
.sidebox .subfilter .subfilter-2 {
  list-style-type: none;
  padding: 0.5em 0 0.25em 0;
}
.sidebox .subfilter .subfilter-2 li {
  background: none;
  color: #3e9dd1;
}
.sidebox .subfilter-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #3e9dd1;
  margin-bottom: 1em;
}
.filter-area {
  background: #3e9dd1;
  padding: 0.65em;
  color: #ffffff;
  position: relative;
  z-index: 1;
  min-height: 40px;
}
.filter-area .caret:before {
  content: " ";
  background: url(images/caret.png) no-repeat;
  width: 10px;
  height: 5px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 5px;
}
.filter-area .select-01 {
  display: inline-block;
  position: relative;
}
.filter-area .select-01 select {
  -webkit-appearance: none;
  font-family: "Open sans", arial, sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 0;
  padding: 0.4em 0.5em;
  margin: -0.4em 0;
  color: #ffffff;
  font-size: 1em;
  background: #317ca8;
}
.filter-area .select-01 select:focus {
  outline: none;
}
.filter-area .select-01 select#orderby {
  width: 100px;
}
.filter-area .select-01 select#showperpage {
  width: 50px;
}
.filter-area .left {
  float: left;
  width: 60%;
}
.filter-area .right {
  float: right;
  width: 40%;
  text-align: right;
}
.filter-area .order-wrapper,
.filter-area .show-available,
.filter-area .showperpage {
  font-size: 0.875em;
  margin-right: 10px;
}
.filter-area .order-wrapper,
.filter-area .show-available {
  float: left;
}
.filter-area .switcher,
.filter-area .showperpage {
  float: right;
}
.filter-area .switcher a,
.filter-area .showperpage a {
  display: inline-block;
  color: #ffffff;
}
.filter-area .order-wrapper span,
.filter-area .showperpage span {
  margin-right: 5px;
}
.filter-area .switcher a {
  font-size: 0.875em;
  font-weight: 600;
  margin-left: 5px;
  color: #317ca8;
}
.filter-area .switcher a.active,
.filter-area .switcher a:hover {
  color: #ffffff;
}
.filter-area .switcher a.active span:before,
.filter-area .switcher a:hover span:before {
  background-position: 0 0px;
}
.finded {
  padding: 1em;
  margin-bottom: 1em;
}
.finded .results {
  float: left;
  font-weight: 700;
  font-size: 0.875em;
}
.finded .pagination {
  float: right;
}
.finded .pagination li a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  font-size: 0.875em;
}
.finded .pagination li a:hover {
  color: #3e9dd1;
  text-decoration: underline;
}
.finded .pagination li.active a {
  color: #3e9dd1;
  text-decoration: underline;
}
.finded .pagination li.next a {
  color: #3e9dd1;
}
.bottom-area .finded {
  margin-bottom: 0;
}
.listing-product {
  /*** LISTING ROWS ***/
  /*** LISTING GRID ***/
}
.listing-product .single-item {
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.listing-product .thumb {
  margin-bottom: 1em;
  position: relative;
}
.listing-product .thumb img {
  max-width: 100%;
  height: auto;
}
.listing-product .thumb.new:before {
  content: " ";
  background: url(images/ico-new.png) no-repeat;
  width: 69px;
  height: 86px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.listing-product .kind {
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 1em;
  color: #4d4d4d;
}
.listing-product .title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1.1em;
  height: 2.2em;
  overflow: hidden;
}
.listing-product .title a {
  color: #000000;
}
.listing-product .title a:hover {
  color: #3e9dd1;
}
.listing-product .description {
  font-size: 1em;
  line-height: 1.3125em;
  font-weight: 300;
  margin-bottom: 1em;
  color: #4d4d4d;
}
.listing-product .reviews {
  margin-bottom: 1em;
}
.listing-product .reviews a {
  font-size: 0.875em;
  text-decoration: underline;
}
.listing-product .reviews a:hover {
  text-decoration: none;
}
.listing-product .scopri {
  display: inline-block;
  margin-bottom: 1em;
}
.listing-product .listino-01 {
  margin-bottom: 0.5em;
  color: #959595;
}
.listing-product .listino-01 .label-listino {
  display: block;
  font-size: 0.875em;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 4px;
}
.listing-product .listino-01 .prezzo-listino {
  text-decoration: line-through;
  font-size: 1.125em;
  display: block;
}
.listing-product .listino-02 {
  font-size: 2.125em;
  font-weight: 700;
  color: #e30613;
  margin-bottom: 0.5em;
}
.listing-product .price-block .btn {
  font-weight: 600;
  line-height: 1em;
}
.listing-product.listing-rows .single-item {
  border-bottom: 1px solid #e5e5e5;
}
.listing-product.listing-rows .content-block {
  float: left;
  width: 66%;
}
.listing-product.listing-rows .thumb {
  float: left;
  width: 50%;
  padding-right: 0.5em;
}
.listing-product.listing-rows .entry {
  float: right;
  width: 50%;
}
.listing-product.listing-rows .price-block {
  float: right;
  text-align: right;
  width: 30%;
}
.listing-product.listing-grid .scopri,
.listing-product.listing-grid .label-listino,
.listing-product.listing-grid .reviews {
  display: none;
}
.listing-product.listing-grid .single-item {
  width: 30%;
  margin-left: 5%;
  float: left;
}
.listing-product.listing-grid .single-item:first-child,
.listing-product.listing-grid .single-item:nth-child(3n+1) {
  margin-left: 0;
}
.listing-product.listing-grid .kind {
  font-size: 0.75em;
  font-weight: 300;
  margin-bottom: 1em;
  color: #4d4d4d;
}
.listing-product.listing-grid .description {
  font-size: 1em;
  line-height: 1.3125em;
  font-weight: 300;
  margin-bottom: 1em;
  color: #4d4d4d;
}
.listing-product.listing-grid .reviews {
  margin-bottom: 1em;
}
.listing-product.listing-grid .reviews a {
  font-size: 0.875em;
  text-decoration: underline;
}
.listing-product.listing-grid .reviews a:hover {
  text-decoration: none;
}
.bottom-area {
  margin: 1em 0;
}
.footer-area {
  background: #0069b4;
  padding: 1em 0;
}
.footer-area .link-block .title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.footer-area .link-block a {
  color: #ffffff;
  line-height: 1.5em;
}
.footer-area .item-secure {
  height: 60px;
  line-height: 60px;
}
.footer-area .item-secure img,
.footer-area .item-secure span {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.footer-bottom {
  background: #95c11f;
  padding: 0.5em 0;
  text-align: center;
}
.footer-bottom .contact-info span {
  font-family: "Oswald", Impact, sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.2em;
  color: #ffffff;
  margin-left: 2em;
  display: inline-block;
  vertical-align: middle;
}
.footer-bottom .logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.site-footer {
  background: #0069b4;
}
.info-ecom {
  border-top: 1px solid #6b9cbf;
  padding: 1em;
}
.info-ecom .col-group {
  padding: 0;
}
/*************  MOBILE *************/
/* ===== == = === 81.25em (1300px) === = == ===== */
/* ===== == = === 68.75em (1200px) === = == ===== */
/* ===== == = === 68.75em (1100px) === = == ===== */
@media only screen and (max-width: 68.75em) {
  .filter-area .switcher,
  .filter-area .showperpage {
    float: none;
  }
  .filter-area .order-wrapper,
  .filter-area .show-available {
    float: none;
  }
  .filter-area .showperpage,
  .filter-area .show-available {
    margin: 1.5em 0 0 0 ;
  }
  .price-block .btn {
    padding: 10px;
    font-size: 0.875em;
  }
  .price-block .ico-cart-small {
    display: block;
    margin-bottom: 0.5em;
  }
}
/* ===== == = === 56.25em (900px) === = == ===== */
/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (max-width: 48em) {
  .filter-area .switcher,
  .filter-area .showperpage {
    float: right;
  }
  .filter-area .order-wrapper,
  .filter-area .show-available {
    float: left;
  }
  .filter-area .showperpage,
  .filter-area .show-available {
    margin: 0 0 0 0 ;
  }
  .hidden {
    display: none;
  }
  .topper-bar li {
    margin-right: 5px;
    font-size: 0.875em;
  }
  #breadcrumbs {
    float: none;
  }
  .filter-nav {
    float: none;
    width: 100%;
    height: 40px;
    line-height: 30px;
    margin-top: 1em;
  }
  .filter-nav .item-filterby {
    display: block;
    position: absolute;
    left: 0;
  }
  .btn.btn-my-yep,
  .btn.btn-my-cart {
    width: 50px;
    height: 50px;
    background-position: center center;
    padding: 0;
    margin-top: 10px;
    margin-left: 5px;
  }
  .btn.btn-my-yep span,
  .btn.btn-my-cart span {
    display: none;
  }
  .top-myyep-block {
    position: absolute;
    top: 1em;
    right: 80px;
  }
  .top-myyep-block:hover .pop {
    display: none;
  }
  .top-cart-block {
    position: absolute;
    top: 1em;
    right: 10px;
  }
  .top-cart-block:hover .pop {
    display: none;
  }
  .filter-nav .item-orderby,
  .filter-nav .item-filterby {
    padding-right: 30px;
    cursor: pointer;
  }
  .filter-nav .item-orderby:before,
  .filter-nav .item-filterby:before {
    content: " ";
    background: url(images/caret.png) no-repeat;
    position: absolute;
    top: 45%;
    right: 10px;
    height: 5px;
    width: 10px;
  }
  .price-block .btn {
    padding: 10px 5px;
    font-size: 0.75em;
  }
  .price-block .ico-cart-small {
    display: inline-block;
    margin-bottom: 0em;
  }
  .listing-product .listino-02 {
    font-size: 1.5em;
  }
  .info-ecom {
    padding: 1em 0;
  }
  .info-ecom .col-group {
    padding: 0;
  }
  .info-ecom .col-group .col {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .footer-area .item-secure {
    height: auto;
    line-height: 1;
    margin: 0.5em 0;
  }
  .footer-area .item-secure img,
  .footer-area .item-secure span {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
  }
  .close {
    display: block;
  }
}
/* ===== == = === 37.5em (667px) === = == ===== */
/* ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (max-width: 37.5em) {
  .topper-bar,
  .filter-area,
  .filter-nav .item-brandnav,
  .main-navigation,
  .listing-product .scopri {
    display: none;
  }
  .logo,
  .listing-product.listing-rows .price-block,
  .listing-product.listing-grid .price-block {
    text-align: left;
  }
  .filter-nav .item-orderby {
    display: block;
    position: absolute;
    right: 0;
  }
  .listing-product .listino-01 .label-listino {
    display: none;
  }
  .listing-product.listing-grid .single-item,
  .listing-product.listing-rows .single-item,
  .listing-product.listing-rows .content-block,
  .listing-product.listing-rows .price-block,
  .listing-product.listing-rows .entry,
  .listing-product.listing-grid .entry {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }
  .listing-product .single-item {
    padding: 1em;
  }
  .listing-product .title {
    height: auto;
  }
  .filter-nav {
    text-align: center;
  }
  .filter-nav .item-filterby,
  .filter-nav .item-orderby {
    width: 50%;
    float: left;
    position: relative;
    left: auto;
    right: auto;
  }
  .footer-area {
    padding: 0;
  }
  .footer-area .col-group .col {
    padding: 0;
  }
  .footer-area .col:first-child .link-block {
    border-top: none;
  }
  .footer-area .link-block {
    padding-bottom: 1em;
    border-top: 1px solid #fff;
  }
  .footer-area .link-block .title {
    margin: 0;
    padding: 1em 0;
    text-align: center;
  }
  .footer-area .link-block ul {
    text-align: center;
  }
  .navigation-bar {
    position: relative;
  }
  .navigation-bar .main-navigation {
    padding-bottom: 1em;
  }
  .navigation-bar li {
    display: block;
    text-align: center;
    border-left: none;
    border-right: none;
    float: none;
  }
  .navigation-bar li a {
    border-top: 1px solid #ffffff;
    font-size: 1em;
    margin-right: 0;
  }
  .navigation-bar .nav-title {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.1;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  .navigation-bar .nav-title:before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 0;
    right: 2%;
  }
  .listing-product .thumb {
    text-align: center;
  }
  .listing-product .price-block .btn {
    font-size: 0.875em;
  }
  .listing-product .price-block .ico-cart-small {
    display: inline-block;
    margin: 0;
  }
  .listing-product.listing-rows .thumb {
    float: none;
    width: auto;
    margin-right: 0;
  }
  .btn.btn-my-cart,
  .btn.btn-my-yep {
    background-position: center center;
    padding-right: 0;
    margin-top: 0;
  }
  .top-myyep-block,
  .top-cart-block {
    top: 0;
  }
  .top-myyep-block {
    right: 70px;
  }
}
/* ===== == = === 30em (480px) === = == ===== */
@media only screen and (max-width: 30em) {
  .logo {
    max-width: 120px;
  }
  .top-myyep-block {
    position: absolute;
    top: 0;
  }
  .top-cart-block {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
/* ===== == = === 20em (320px) === = == ===== */
/* General styles for all menus */
.pm-menu {
  position: fixed;
  overflow-y: auto;
}
/* Orientation-dependent styles for the content of the menu */
.pm-menu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.pm-menu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}
.pm-menu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}
.pm-menu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */
.pm-menu-left {
  left: -240px;
}
.pm-menu-right {
  right: -240px;
}
.pm-menu-left.pm-menu-open {
  left: 0px;
}
.pm-menu-right.pm-menu-open {
  right: 0px;
}
/* Horizontal menu that slides from the top or bottom */
.pm-menu-top {
  top: -150px;
}
.pm-menu-bottom {
  bottom: -150px;
}
.pm-menu-top.pm-menu-open {
  top: 0px;
}
.pm-menu-bottom.pm-menu-open {
  bottom: 0px;
}
/* Push classes applied to the body */
.pm-menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.pm-menu-push-toright {
  left: 240px;
}
.pm-menu-push-toleft {
  left: -240px;
}
/* Transitions */
.pm-menu,
.pm-menu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Example media queries */
@media screen and (max-width: 55.1875em) {
  .pm-menu-horizontal {
    font-size: 75%;
    height: 110px;
  }
  .pm-menu-top {
    top: -110px;
  }
  .pm-menu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  .pm-menu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .pm-menu-left,
  .pm-menu-push-toleft {
    left: -190px;
  }
  .pm-menu-right {
    right: -190px;
  }
  .pm-menu-push-toright {
    left: 190px;
  }
}
.col-group {
  padding: 1em 0;
  margin-left: -1em;
  margin-right: -1em;
}
.col-group.zero-pad {
  padding: 0;
}
.col-group.no-extgut {
  margin: 1em -1em;
}
.col-group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.col-group .col {
  padding: 0.5em 1em;
  float: left;
  word-wrap: break-word;
}
.col-group.no-pad .col {
  padding: 0.5em 0;
}
.col-group.no-mar-bot {
  margin-bottom: 0;
}
*:first-child + html .col-group {
  zoom: 1;
}
/* Colonna al 100% */
.col-full {
  width: 100%;
  float: none;
}
/* Sistema a 2 colonne */
.one-half {
  width: 50%;
}
/* Sistema a 3 colonne */
.one-third {
  width: 33.33333333%;
}
.two-third {
  width: 66.66666667%;
}
/* Sistema a 4 colonne */
.one-fourth {
  width: 25%;
}
.two-fourth {
  width: 50%;
}
.three-fourth {
  width: 75%;
}
/* Sistema a 5 colonne */
.one-fifth {
  width: 20%;
}
.two-fifth {
  width: 40%;
}
.three-fifth {
  width: 60%;
}
.four-fifth {
  width: 80%;
}
/* Sistema a 6 colonne */
.one-sixth {
  width: 16.66666667%;
}
.two-sixth {
  width: 33.33333333%;
}
.three-sixth {
  width: 50%;
}
.four-sixth {
  width: 66.66666667%;
}
.five-sixth {
  width: 83.33333333%;
}
/* Sistema a 8 colonne */
.one-eighth {
  width: 12.5%;
}
.two-eighth {
  width: 25%;
}
.three-eighth {
  width: 37.5%;
}
.four-eighth {
  width: 50%;
}
.five-eighth {
  width: 62.5%;
}
.sixth-eighth {
  width: 75%;
}
.seventh-eighth {
  width: 87.5%;
}
.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* SIZE XXL ===== == = === 81.25em (1300px) === = == ===== */
@media only screen and (max-width: 81.25em) {
  .main-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .xxl-1-1 {
    width: 100%;
  }
  .xxl-1-2 {
    width: 50%;
  }
  .xxl-1-3 {
    width: 33.33333333%;
  }
  .xxl-2-3 {
    width: 66.66666667%;
  }
  .xxl-1-4 {
    width: 25%;
  }
  .xxl-2-4 {
    width: 50%;
  }
  .xxl-3-4 {
    width: 75%;
  }
  .xxl-1-5 {
    width: 20%;
  }
  .xxl-2-5 {
    width: 40%;
  }
  .xxl-3-5 {
    width: 60%;
  }
  .xxl-4-5 {
    width: 80%;
  }
  .xxl-1-6 {
    width: 16.66666667%;
  }
  .xxl-2-6 {
    width: 33.33333333%;
  }
  .xxl-3-6 {
    width: 50%;
  }
  .xxl-4-6 {
    width: 66.66666667%;
  }
  .xxl-5-6 {
    width: 83.33333333%;
  }
  .xxl-1-8 {
    width: 12.5%;
  }
  .xxl-2-8 {
    width: 25%;
  }
  .xxl-3-8 {
    width: 37.5%;
  }
  .xxl-4-8 {
    width: 50%;
  }
  .xxl-5-8 {
    width: 62.5%;
  }
  .xxl-6-8 {
    width: 75%;
  }
  .xxl-7-8 {
    width: 87.5%;
  }
}
/* SIZE XL ===== == = === 68.75em (1100px) === = == ===== */
@media only screen and (max-width: 68.75em) {
  .xl-1-1 {
    width: 100%;
  }
  .xl-1-2 {
    width: 50%;
  }
  .xl-1-3 {
    width: 33.33333333%;
  }
  .xl-2-3 {
    width: 66.66666667%;
  }
  .xl-1-4 {
    width: 25%;
  }
  .xl-2-4 {
    width: 50%;
  }
  .xl-3-4 {
    width: 75%;
  }
  .xl-1-5 {
    width: 20%;
  }
  .xl-2-5 {
    width: 40%;
  }
  .xl-3-5 {
    width: 60%;
  }
  .xl-4-5 {
    width: 80%;
  }
  .xl-1-6 {
    width: 16.66666667%;
  }
  .xl-2-6 {
    width: 33.33333333%;
  }
  .xl-3-6 {
    width: 50%;
  }
  .xl-4-6 {
    width: 66.66666667%;
  }
  .xl-5-6 {
    width: 83.33333333%;
  }
  .xl-1-8 {
    width: 12.5%;
  }
  .xl-2-8 {
    width: 25%;
  }
  .xl-3-8 {
    width: 37.5%;
  }
  .xl-4-8 {
    width: 50%;
  }
  .xl-5-8 {
    width: 62.5%;
  }
  .xl-6-8 {
    width: 75%;
  }
  .xl-7-8 {
    width: 87.5%;
  }
}
/* SIZE L ===== == = === 56.25em (900px) === = == ===== */
@media only screen and (max-width: 56.25em) {
  .l-1-1 {
    width: 100%;
  }
  .l-1-2 {
    width: 50%;
  }
  .l-1-3 {
    width: 33.33333333%;
  }
  .l-2-3 {
    width: 66.66666667%;
  }
  .l-1-4 {
    width: 25%;
  }
  .l-2-4 {
    width: 50%;
  }
  .l-3-4 {
    width: 75%;
  }
  .l-1-5 {
    width: 20%;
  }
  .l-2-5 {
    width: 40%;
  }
  .l-3-5 {
    width: 60%;
  }
  .l-4-5 {
    width: 80%;
  }
  .l-1-6 {
    width: 16.66666667%;
  }
  .l-2-6 {
    width: 33.33333333%;
  }
  .l-3-6 {
    width: 50%;
  }
  .l-4-6 {
    width: 66.66666667%;
  }
  .l-5-6 {
    width: 83.33333333%;
  }
  .l-1-8 {
    width: 12.5%;
  }
  .l-2-8 {
    width: 25%;
  }
  .l-3-8 {
    width: 37.5%;
  }
  .l-4-8 {
    width: 50%;
  }
  .l-5-8 {
    width: 62.5%;
  }
  .l-6-8 {
    width: 75%;
  }
  .l-7-8 {
    width: 87.5%;
  }
}
/* SIZE M ===== == = === 48em (768px) === = == ===== */
@media only screen and (max-width: 48em) {
  .m-1-1 {
    width: 100%;
  }
  .m-1-2 {
    width: 50%;
  }
  .m-1-3 {
    width: 33.33333333%;
  }
  .m-2-3 {
    width: 66.66666667%;
  }
  .m-1-4 {
    width: 25%;
  }
  .m-2-4 {
    width: 50%;
  }
  .m-3-4 {
    width: 75%;
  }
  .m-1-5 {
    width: 20%;
  }
  .m-2-5 {
    width: 40%;
  }
  .m-3-5 {
    width: 60%;
  }
  .m-4-5 {
    width: 80%;
  }
  .m-1-6 {
    width: 16.66666667%;
  }
  .m-2-6 {
    width: 33.33333333%;
  }
  .m-3-6 {
    width: 50%;
  }
  .m-4-6 {
    width: 66.66666667%;
  }
  .m-5-6 {
    width: 83.33333333%;
  }
  .m-1-8 {
    width: 12.5%;
  }
  .m-2-8 {
    width: 25%;
  }
  .m-3-8 {
    width: 37.5%;
  }
  .m-4-8 {
    width: 50%;
  }
  .m-5-8 {
    width: 62.5%;
  }
  .m-6-8 {
    width: 75%;
  }
  .m-7-8 {
    width: 87.5%;
  }
}
/* SIZE S ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (max-width: 37.5em) {
  .s-1-1 {
    width: 100%;
  }
  .s-1-2 {
    width: 50%;
  }
  .s-1-3 {
    width: 33.33333333%;
  }
  .s-2-3 {
    width: 66.66666667%;
  }
  .s-1-4 {
    width: 25%;
  }
  .s-2-4 {
    width: 50%;
  }
  .s-3-4 {
    width: 75%;
  }
  .s-1-5 {
    width: 20%;
  }
  .s-2-5 {
    width: 40%;
  }
  .s-3-5 {
    width: 60%;
  }
  .s-4-5 {
    width: 80%;
  }
  .s-1-6 {
    width: 16.66666667%;
  }
  .s-2-6 {
    width: 33.33333333%;
  }
  .s-3-6 {
    width: 50%;
  }
  .s-4-6 {
    width: 66.66666667%;
  }
  .s-5-6 {
    width: 83.33333333%;
  }
  .s-1-8 {
    width: 12.5%;
  }
  .s-2-8 {
    width: 25%;
  }
  .s-3-8 {
    width: 37.5%;
  }
  .s-4-8 {
    width: 50%;
  }
  .s-5-8 {
    width: 62.5%;
  }
  .s-6-8 {
    width: 75%;
  }
  .s-7-8 {
    width: 87.5%;
  }
}
/* SIZE XS ===== == = === 30em (480px) === = == ===== */
@media only screen and (max-width: 30em) {
  .xs-1-1 {
    width: 100%;
  }
  .xs-1-2 {
    width: 50%;
  }
  .xs-1-3 {
    width: 33.33333333%;
  }
  .xs-2-3 {
    width: 66.66666667%;
  }
  .xs-1-4 {
    width: 25%;
  }
  .xs-2-4 {
    width: 50%;
  }
  .xs-3-4 {
    width: 75%;
  }
  .xs-1-5 {
    width: 20%;
  }
  .xs-2-5 {
    width: 40%;
  }
  .xs-3-5 {
    width: 60%;
  }
  .xs-4-5 {
    width: 80%;
  }
  .xs-1-6 {
    width: 16.66666667%;
  }
  .xs-2-6 {
    width: 33.33333333%;
  }
  .xs-3-6 {
    width: 50%;
  }
  .xs-4-6 {
    width: 66.66666667%;
  }
  .xs-5-6 {
    width: 83.33333333%;
  }
  .xs-1-8 {
    width: 12.5%;
  }
  .xs-2-8 {
    width: 25%;
  }
  .xs-3-8 {
    width: 37.5%;
  }
  .xs-4-8 {
    width: 50%;
  }
  .xs-5-8 {
    width: 62.5%;
  }
  .xs-6-8 {
    width: 75%;
  }
  .xs-7-8 {
    width: 87.5%;
  }
}
/* SIZE XXS ===== == = === 20em (320px) === = == ===== */
@media only screen and (max-width: 20em) {
  .xxs-1-1 {
    width: 100%;
  }
  .xxs-1-2 {
    width: 50%;
  }
  .xxs-1-3 {
    width: 33.33333333%;
  }
  .xxs-2-3 {
    width: 66.66666667%;
  }
  .xxs-1-4 {
    width: 25%;
  }
  .xxs-2-4 {
    width: 50%;
  }
  .xxs-3-4 {
    width: 75%;
  }
  .xxs-1-5 {
    width: 20%;
  }
  .xxs-2-5 {
    width: 40%;
  }
  .xxs-3-5 {
    width: 60%;
  }
  .xxs-4-5 {
    width: 80%;
  }
  .xxs-1-6 {
    width: 16.66666667%;
  }
  .xxs-2-6 {
    width: 33.33333333%;
  }
  .xxs-3-6 {
    width: 50%;
  }
  .xxs-4-6 {
    width: 66.66666667%;
  }
  .xxs-5-6 {
    width: 83.33333333%;
  }
  .xxs-1-8 {
    width: 12.5%;
  }
  .xxs-2-8 {
    width: 25%;
  }
  .xxs-3-8 {
    width: 37.5%;
  }
  .xxs-4-8 {
    width: 50%;
  }
  .xxs-5-8 {
    width: 62.5%;
  }
  .xxs-6-8 {
    width: 75%;
  }
  .xxs-7-8 {
    width: 87.5%;
  }
}
