@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/* = COLORI
------------------------------------------*/

@green: #95c11f;
@darkgreen: #769c11;

@blue: #3e9dd1; 
@darkblue: #317ca8;
@darkerblue: #0069b4;

@red: #e30613;

@gray: #959595;
@darkgray: #7d7d7d;
@darkergray: #4d4d4d;
@lightgray: #e5e5e5;

@black: #000000;
@white: #ffffff;


.btn {
	display: inline-block;
	text-decoration: none;
	padding: 15px 10px;
	vertical-align: middle;
	text-transform: uppercase;
	&:hover{
		text-decoration: none;
	}

	&.btn-my-yep {
		background: url(images/ico-my-yeppon.png) 95% center @gray no-repeat;
		color:@white;
		padding-right: 40px;
		position: relative;
	}

	&.btn-my-cart {
		background: url(images/ico-cart.png) 95% center @green no-repeat;
		color:@white;
		padding-right: 60px;
		position: relative;
	}

	&.btn-green{
		background: #95c11f; /* Old browsers */
		color:@white;
		position: relative;
	}

	&.btn-blue{
		background: @blue; /* Old browsers */
		color:@white;
		position: relative;
	}

	&.btn-green-01{
		background: #8CB324; /* Old browsers */
		background: -moz-linear-gradient(top, #8CB324 50%, #769c11 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#8CB324), color-stop(50%,#769c11)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #8CB324 50%,#769c11 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #8CB324 50%,#769c11 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #8CB324 50%,#769c11 50%); /* IE10+ */
		background: linear-gradient(to bottom, #8CB324 50%,#769c11 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8CB324', endColorstr='#769c11',GradientType=0 ); /* IE6-9 */
		color: @white;
		&:hover{
			background: #95c11f;
		}
	}

	&.btn-full{
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}
}


/* Close Button */
.close {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.875em;
	border: none;
	background: transparent;
	color: transparent;
	cursor: pointer;
	display: none;
}

.close::before,
.close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: @white;
}

.close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* ICON */

.ico-lista{
	&:before{
		content: " ";
		background: url(images/ico-lista.png) no-repeat;
		background-position: 0 -17px;
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 17px;
		margin-right: 5px;
	}
}
.ico-grid{
	&:before{
		content: " ";
		background: url(images/ico-grid.png) no-repeat;
		background-position: 0 -17px;
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 17px;
		margin-right: 5px;
	}
}

.ico-cart-small:before{
	content: " ";
	background: url(images/ico-cart-small.png) left top no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 25px;
	margin-right: 10px;
}
.ico-filtri:before{
	content: " ";
	background: url(images/ico-filtri.png) left top no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 30px;
	margin-right: 10px;
}

/* ANIMATION */

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing:hover {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation-name: swing;
          animation-name: swing;
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

.top-cart-block,
.top-myyep-block{
	display: inline-block;
	position: relative;
	margin-left: 5px;
	.btn{
		height: 50px;
		font-weight: 700;
		letter-spacing: -0.5px;
		span{
			vertical-align: middle;
		}
	}
}



.top-cart-block:hover .pop-cart,
.top-myyep-block:hover .pop-my-yep{
	display: block;
}

.hidden-sidebar{
	display: none;
}

/* Popup */
.pop{
	display: none;

	&.pop-my-yep{
		display: none;
		position: absolute;
		left:0;
		top: 100%;
		z-index: 20;
		width: 200px;
		text-align: left;
		
		.nav-my-yep{
			background: @gray;
			margin-top: 0.5em;

			li{
				border-top: 1px solid @white;
				&:first-child {
					border-top: none;
				}
				a{
					display: block;
					color: @white;
					padding:1em ;
					&:hover {
						color: darken(@white, 10%);
						background: darken(@gray, 10%);
						text-decoration: none;
					}
				}
			}

		}
		.triangle{
			background: url(images/triangle-gray.png) no-repeat;
			width: 14px;
			height: 7px;
			position: absolute;
			left: 2em; 
			top: 0;
		}

	}

	&.pop-cart{
		position: absolute;
		right: 0;
		top: 100%;
		width: 315px;
		z-index: 20;
			
		.triangle{
			background: url(images/triangle-green.png) no-repeat;
			width: 14px;
			height: 7px;
			position: absolute;
			right: 2em; 
			top:0;
		}


		.inner-wrap{
			padding:1em 1.5em;
			background: @white;
			border: 1px solid @green;
			margin-top: 0.5em;
		}

		.title{
			.font-700();
			.upper();
			font-size: 12px;
			margin-bottom: 1em;
			text-align: left;
		}

		.list-item{
			padding: 1em 0;
			border-top: 1px solid @lightgray;

			&:first-child{
				border-top: 0;
			}
		}

		.thumb{
			width: 60px;
			height: 60px;
			float: left;
			margin-right: 0.5em;
			overflow:hidden;
		}

		.description{
			margin-left: 70px;
			text-align: left;
		}

		.prod-title{
			font-size: 0.875em;
			line-height: 1.5em;
			margin-bottom: 1em;
			text-align: left;
			a{
				color: @black;
				&:hover{
					color: @gray;
				}
			}
		}

		.prod-label{
			font-size: 0.875em;
			color: @gray;
			margin-right: 5px;
		}
		.prod-qt{
			width: 40px;
			color: @black;
			background: #f3f3f3;
			border:1px solid #ccc;
			padding:4px 5px;
			margin-right: 5px;

			&:focus {
				border: 1px solid @blue;
				outline: none;
				background: @white;
			}
		}

		.prod-price{
			font-weight: 700;
		}

		.listing-total-count{
			background: @lightgray;
			margin: 1em -1.5em -1em -1.5em;
			padding:1em 2em;

			.label,
			.total-price{
				font-size: 1.625em;
				.upper();
				.font-700();
				color: @red;
				margin-bottom: 0.5em;

			}
		}
	}
}


.searchform {
	position: relative;
	margin-top: 7px;
	padding-right: 30px;

	.search-field {
		width: 100%;
		padding: 8px 10px;
		font-size: 0.875em;
		margin-right: 60px;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		border: 2px solid #ccc;
		box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);

		&:focus {
			border: 2px solid @blue;
			outline: none;
		}
	}
	input[type="submit"]{
		background: url(images/ico-search.png) no-repeat center center;
		text-indent: -9999px;
		outline: none;
		border-radius: 50%;
		position: absolute;
		width: 65px;
		height: 65px;
		border: none;
		position: absolute;
		top: 50%;
		right: 0;
		cursor: pointer;
		margin-top: -32px;
	}
}

.topper-bar {
	background: @green;
	color: #010101;
	font-size: 0.875em;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	li {
		margin-right: 15px;
	}
	a {
		color: #010101;
		padding:1em 0.5em;
		text-decoration: none;
		font-weight: 300;
		font-family: 'Oswald', sans-serif;

		&:hover {
			text-decoration: underline;
		}
	}

}


.navigation-bar {
	background: @lightgray;
	li{
		float:left;
		border-left: 1px solid @white;
		border-right: 1px solid #ccc;
	}
	a {
		display: block;
		font-size: 0.813em;
		color: @darkergray;
		padding: 1em 10px;
		text-decoration: none;
		.upper;
		&:hover,
		&.active {
			background: @green;
			color:@white;
		}
	}
	ul li:first-child {
		border-left: none;
	}
	ul li:last-child {
		border-right: none;
	}

	.nav-title{
		display: none;
	}
}

#bread-area{
	position: relative;
	padding-top: 0.5em;
}

.filter-nav{
	float: right;
	width: 30%;
	position: relative;

	.item-filterby{
		display: none;
	}
	.item-brandnav{
		position: absolute;
		right: 0;
		z-index: 0;
	}
	.item-orderby{
		display: none;
	}
}

#breadcrumbs{
	float: left;
	width: 70%;
	padding:1em 0 0.5em 0;
	font-size: 0.75em;
	li{
		&:before{
			padding: 0 2px;
			content: "|";
		}
		&:first-child{
			padding-left:0;
			&:before{
				content:"";
			}
		}
	}
	
	a{
		display: block;
		text-decoration: none;
		color: @darkergray;
		&:hover{
			color: @green;
		}
	}
}

.sidebox{
	margin-bottom: 1em;
	.title{
		min-height: 40px;
		padding: 0.65em 2em 0.65em 0.65em;
		background: @blue;
		color: @white;
		font-size: 1.125em;
		line-height: 1.1em;
		font-weight: 300;
		text-transform: uppercase;
		position: relative;
	}
	.sidebox-content{
		border:1px solid @lightgray;
	}
	.subfilter{
		padding:1em;
		border-top: 1px dotted @lightgray;
		&:first-child{border-top: 0;}

		ul{
			li{
				padding-left: 1em;
				margin-bottom: 0.5em;
				background: url(images/triangle-bullet.png) left 2px no-repeat;
				a{
					text-decoration: none;
					font-size: 0.875em;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.subfilter-2 {
			list-style-type: none;
			padding:0.5em 0 0.25em 0;
			li{
				background: none;
				color: @blue;
			}
		}

	}
	.subfilter-title{
		text-transform: uppercase;
		font-weight: 700;
		color: @blue;
		margin-bottom: 1em;
	}

	.sf-check{
		font-size: 0.875em;
		color: @blue;
	}


}


.filter-area{
	background: @blue;
	padding:0.65em;
	color: @white;
	position: relative;
	z-index: 1;
	min-height: 40px;

	.caret:before{
		content: " ";
		background: url(images/caret.png) no-repeat;
		width: 10px;
		height: 5px;
		position: absolute;
		top:50%;
		margin-top: -2px;
		right:5px;


	}

	.select-01 {
		display: inline-block;
		position: relative;

		select{
			-webkit-appearance:none;
			font-family: "Open sans", arial, sans-serif;
			font-weight: 300;
			border:none;
			border-radius: 0;
			padding: 0.4em 0.5em;
			margin: -0.4em 0;
			color: @white;
			font-size: 1em;
			background: @darkblue;
			&:focus{
				outline: none;
			}
			&#orderby{
				width: 100px;
			}
			&#showperpage{
				width: 50px;
			}
		}

	}

	.left{
		float: left;
		width: 60%;
	}
	.right{
		float: right;
		width: 40%;
		text-align: right;
	}
	.order-wrapper,
	.show-available,
	.showperpage
	{
		font-size: 0.875em;
		margin-right: 10px;
	}
	.order-wrapper,
	.show-available{
		float: left;
	}

	.switcher,
	.showperpage{
		float: right;
		a{
			display: inline-block;
			color: @white;
		}
	}

	.order-wrapper,
	.showperpage {
		span{
			margin-right: 5px;
		}
	}
	.switcher a{
		font-size: 0.875em;
		font-weight: 600;
		margin-left: 5px;
		color: @darkblue;

		&.active,
		&:hover{
			color: @white;
			span:before{
				background-position: 0 0px;
			}
		}
	}
}


.finded{
	padding:1em;
	margin-bottom: 1em;
	.results{
		float: left;
		font-weight: 700;
		font-size: 0.875em;

	}
	.pagination{
		float: right;
		li{
			a{
				font-weight: 700;
				color: @black;
				text-decoration: none;
				font-size: 0.875em;

				&:hover{
					color: @blue;
					text-decoration: underline;
				}
			}
			&.active a{
				color: @blue;
				text-decoration: underline;
			}
			&.next a{
				color: @blue;
			}
		}
	}

	.bottom-area &{
		margin-bottom: 0;
	}
}


.listing-product{
	.single-item{
		padding-bottom: 1em;
		margin-bottom: 1em;
	}
	.thumb{
		margin-bottom: 1em;
		position: relative;
		img{
			max-width: 100%;
			height: auto;
		}

		&.new:before{
			content: " ";
			background: url(images/ico-new.png) no-repeat;
			width: 69px;
			height: 86px;
			position: absolute;
			bottom: -1em;
			right: 0;
		}
	}
	.kind{
		font-size: 0.875em;
		font-weight: 300;
		margin-bottom: 1em;
		color: @darkergray;
	}
	.title{
		font-size: 1.5em;
		font-weight: 700;
		margin-bottom:0.5em;
		line-height: 1.1em;
		height: 2.2em;
		overflow: hidden;
		a{
			color: @black;
			&:hover{
				color: @blue;
			}
		}
	}
	.description{
		font-size: 1em;
		line-height: 1.3125em;
		font-weight: 300;
		margin-bottom: 1em;
		color: @darkergray;
	}
	.reviews{
		margin-bottom: 1em;
		a{
			font-size: 0.875em;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.scopri{
		display: inline-block;
		margin-bottom: 1em;
	}
	.listino-01{
		margin-bottom: 0.5em;
		color: @gray;
		.label-listino{
			display: block;
			font-size: 0.875em;
			font-weight: 300;
			white-space: nowrap;
			margin-bottom: 4px;
		}
		.prezzo-listino{
			text-decoration: line-through;
			font-size: 1.125em;
			display: block;
		}
	}
	.listino-02{
		font-size: 2.125em;
		font-weight: 700;
		color: @red;
		margin-bottom: 0.5em;
	}

	.price-block{
		.btn{
			font-weight: 600;
			line-height: 1em;
		}
	}

/*** LISTING ROWS ***/

	&.listing-rows{
		.single-item{
			border-bottom: 1px solid @lightgray;
		}
		.content-block{
			float: left;
			width: 66%;
		}
		.thumb{
			float: left;
			width: 40%;
			margin-right: 2%;
		}
		.entry{
			float: right;
			width: 58%;
		}

		.price-block{
			float: right;
			text-align: right;
			width: 30%;
		}
	}

/*** LISTING GRID ***/

	&.listing-grid{
		.scopri,
		.label-listino,
		.reviews {display: none;}

		.single-item {
			width: 30%;
			margin-left:5%;
			float: left;
			&:first-child,
			&:nth-child(3n+1){
				margin-left: 0;
			}	
		}

		.kind{
			font-size: 0.75em;
			font-weight: 300;
			margin-bottom: 1em;
			color: @darkergray;
		}
		.description{
			font-size: 1em;
			line-height: 1.3125em;
			font-weight: 300;
			margin-bottom: 1em;
			color: @darkergray;
		}
		.reviews{
			margin-bottom: 1em;
			a{
				font-size: 0.875em;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}

}

.bottom-area{
	margin: 1em 0;
}


.footer-area{
	background: @darkerblue;
	padding:1em 0;

	.link-block{
		.title{
			color: @white;
			text-transform: uppercase;
			margin-bottom: 1em;
		}
		a{
			color: @white;
			line-height: 1.5em;
		}
	}
	.item-secure{
		height: 60px;
		line-height: 60px;

		img, span{
			display: inline-block;
			vertical-align: middle;
			color: @white;
		} 

	}
}

.footer-bottom{
	background: @green;
	padding:0.5em 0;
	text-align: center;
	.contact-info{
		span{
		font-family: "Oswald", Impact, sans-serif;
		font-size: 0.875em;
		font-weight: 300;
		line-height: 1.2em;
		color: @white;
		margin-left:2em;
		display: inline-block;
		vertical-align: middle;
		}
	}
	.logo-footer{
		display: inline-block;
		vertical-align: middle;
	}
}

.site-footer{
	background: @darkerblue;
}


.info-ecom{
	border-top: 1px solid #6b9cbf;
	padding:1em;
	.col-group{padding:0;}
}





/*************  MOBILE *************/

/* ===== == = === 81.25em (1300px) === = == ===== */
@media only screen and (max-width : 81.25em) {
}

/* ===== == = === 68.75em (1200px) === = == ===== */
@media only screen and (max-width : 75em) {
}


/* ===== == = === 68.75em (1100px) === = == ===== */
@media only screen and (max-width : 68.75em) {
	.filter-area .switcher,
	.filter-area .showperpage{
		float:none;
	}
	.filter-area .order-wrapper,
	.filter-area .show-available{
		float:none;
	}
	.filter-area .showperpage,
	.filter-area .show-available{
		margin: 1.5em 0 0 0 ;
	}

	.price-block .btn{
		padding:10px;
		font-size: 0.875em;
	}
	.price-block .ico-cart-small{
		display: block;
		margin-bottom: 0.5em;
	}

}

/* ===== == = === 56.25em (900px) === = == ===== */
@media only screen and (max-width : 56.25em) {
}

/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (max-width : 48em) {


	.ico-filtri:before{
		margin-right: 5px;
	}


	.filter-area .switcher,
	.filter-area .showperpage{
		float:right;
	}
	.filter-area .order-wrapper,
	.filter-area .show-available{
		float:left;
	}
	.filter-area .showperpage,
	.filter-area .show-available{
		margin: 0 0 0 0 ;
	}

	.hidden {
		display: none;
	}

	.topper-bar li{
		margin-right: 5px;
		font-size: 0.875em
	}

	#breadcrumbs{
		float: none;
	}
	.filter-nav{
		float: none;
		width: 100%;
		height: 40px;
		line-height: 30px;
		margin-top: 1em;

		.item-filterby{
			display: block;
			position: absolute;
			left: 0;
		}
	}

	.btn.btn-my-yep,
	.btn.btn-my-cart{
		width: 50px;
		height: 50px;
		background-position: center center;
		padding:0;
		margin-top: 10px;
		margin-left: 5px;
		span{
			display: none;
		}
	}

	.top-myyep-block{
		position: absolute;
		top:1em;
		right: 80px;
		&:hover .pop{
			display: none;
		}
	}
	.top-cart-block{
		position: absolute;
		top:1em;
		right: 10px;
		&:hover .pop{
			display: none;
		}
	}

	.filter-nav .item-orderby,
	.filter-nav .item-filterby{
		padding-right: 30px;
		cursor: pointer;
		&:before{
			content: " ";
			background: url(images/caret.png) no-repeat;
			position: absolute;
			top:45%;
			right: 10px;
			height: 5px;
			width: 10px;
		}
	}

	.price-block .btn{
		padding:10px 5px;
		font-size: 0.75em;
	}
	.price-block .ico-cart-small{
		display: inline-block;
		margin-bottom: 0em;
	}

	.listing-product .listino-02{
		font-size: 1.5em;
	}

	.info-ecom {
		padding:1em 0;
		.col-group{
			padding:0;
			.col{
				float: none;
				width: 100%;
				text-align: center;
				padding:0;
			}
		}
	}
	.footer-area .item-secure{
		height: auto;
		line-height: 1;
		margin:0.5em 0;

		img, span{
			display: inline-block;
			vertical-align: middle;
			color: @white;

		} 

	}
	.footer-bottom .logo-footer{
		margin-bottom: 1em;
	}

	.close{display: block;}

}

/* ===== == = === 37.5em (667px) === = == ===== */
@media only screen and (max-width: 41.6875em) {
}

/* ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (max-width: 37.5em) {

	body .col-group{
		padding:1em;
	}

	.filter-nav{
		line-height: 40px;
	}
	.topper-bar,
	.filter-area,
	.filter-nav .item-brandnav,
	.main-navigation,
	.listing-product .scopri{
		display: none;
	}
	.logo,
	.listing-product.listing-rows .price-block,
	.listing-product.listing-grid .price-block{
		text-align: left;
	}
	.filter-nav .item-orderby{
		display: block;
		position: absolute;
		right:0;
	}

	.filter-nav .item-orderby,
	.filter-nav .item-filterby{
		padding-right: 20px;
	}

	.listing-product .listino-01 .label-listino{
		display: none;
	}


	.listing-product.listing-grid .single-item,
	.listing-product.listing-rows .single-item,
	.listing-product.listing-rows .content-block,
	.listing-product.listing-rows .price-block,
	.listing-product.listing-rows .entry,
	.listing-product.listing-grid .entry
	{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		float: none;
	}

	.listing-product .single-item{
		padding: 1em;
	}
	.listing-product .title{
		height: auto;
	}

	.filter-nav{
		text-align: center;
		.item-filterby,
		.item-orderby{
			width: 50%;
			float: left;
			position: relative;
			left:auto;
			right:auto;
		}
	}

	.footer-area {
		padding:0;
		.col-group .col{padding:0}
		.col:first-child{
			.link-block{
				border-top: none;
			}
		}
	
		.link-block {
			padding-bottom: 1em;
			border-top: 1px solid #fff;
			.title {
				margin:0;
				padding: 1em 0;
				text-align: center;
			}
			ul{
				text-align: center;
			}
		}

	}
	.navigation-bar {
		position: relative;

		.main-navigation{
			padding-bottom: 1em;
		}
		
		li{
			display: block;
			text-align: center;
			border-left:none;
			border-right:none;
			float: none;

			a{
				border-top: 1px solid @white;
				font-size: 1em;
				margin-right: 0;
			}
		}

		.nav-title{
			display: block;
			font-size: 1.5em;
			font-weight: 600;
			line-height: 1.1;
			padding: 0.5em;
			text-transform: uppercase;
			text-align: center;
			cursor: pointer;
			position: relative;

			&:before{
				content: " ";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent #ffffff transparent;
				position: absolute;
				bottom: 0;
				right: 2%;

			}
		}
	}

	.listing-product .thumb{
		text-align: center;
	}

	.listing-product .price-block .btn{
		font-size: 0.875em;
	}

	.listing-product .price-block .ico-cart-small{
		display: inline-block;
		margin:0;
	}

	.listing-product.listing-rows .thumb{
		float: none;
		width: auto;
		margin-right: 0;
	}

	.btn.btn-my-cart,
	.btn.btn-my-yep{
		background-position: center center;
		padding-right:0;
		margin-top: 0;
	}

	.top-myyep-block,
	.top-cart-block{
		top:0;
	}
	.top-myyep-block{
		right: 70px;
	}

}

/* ===== == = === 30em (480px) === = == ===== */
@media only screen and (max-width : 30em) {

	.logo{
		max-width: 120px;
	}

	.top-myyep-block{
		position: absolute;
		top:0;
	}
	.top-cart-block{
		position: absolute;
		top:0;
		right: 10px;
	}
}

/* ===== == = === 20em (320px) === = == ===== */
@media only screen and (max-width : 20em) {
}


